@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&display=swap');

* {
   margin: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   font-family: Georgia, 'Times New Roman', Times, serif;
} 

body{
   min-height: 100vh;
   min-width: 100%;
   display: flex;
   flex-wrap: wrap;
   background: #0b1628; 
   justify-content: center;
}

body{
   overflow: scroll;
   overflow-x: hidden;
   position: relative;
}

/* Background */


.container{
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -1;
 }
 
 .bubbles{
   position: relative;
   display: flex;
 }
 
 .bubbles span{
   position: relative;
   width: 30px;
   height: 30px;
   background: cyan;
   margin: 0 4px;
   border-radius: 50%;
   box-shadow: 0 0 0 10px rgb(0, 30, 140), 0 0 50px cyan, 0 0 100px cyan;
   animation: animate 15s linear infinite;
   animation-duration: calc(60s / var(--i));
 }
 
 .bubbles span:nth-child(even){
   box-shadow: 0 0 0 10px rgb(0, 59, 102), 0 0 50px cyan, 0 0 100px cyan;
   background: rgb(4, 162, 162);
 }
 
 @keyframes animate{
   0%{
     transform: translateY(160vh) scale(0);
   }
   100%{
     transform: translateY(-10vh) scale(0.2);
   }
 }

/* Header */

.header {
   
   margin-top: 2%;
   width: 98%;
   height: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid;
   background: linear-gradient(180deg, rgb(0, 21, 69) 0%, rgb(23, 14, 81) 53%, rgb(2, 51, 141) 100%);
   border-radius: 20px;
   justify-content: space-between;
}

.logo {
   margin-left: 5%;
}

.title {
   color: rgb(255, 255, 255);
   font-size: 50px;
}

.undertitle {
   border: 1px white solid;
   align-items: center;
   width: 60%;
   padding:3px;
   justify-content: center;
   border-radius: 20px;
   margin-top: 5px;
   margin-bottom: 5px;
}

.mini-title {
   text-align: center;
   color: rgb(250, 250, 250);
}

.undertitle:hover {
   background-color: white;
}

.mini-title:hover{
   color: grey;
}

.icons {
   margin-top: 5px;
   margin-left: 5px;
   display: inline-flex;
   justify-content: center;
   gap: 5px;
}

.fa {
   font-size: 30px;
   padding: 8px;
   text-align: center;
   text-decoration: none;
   color: white;
   background-color: rgb(21, 21, 21);
   border-radius: 50%;
 }

 .fa-free-code-camp{
   font-size: 2px;
   padding: 6px;
   padding-top: 7px;
 }

.image-div {
   overflow: hidden;
   width: 20%;
   margin: 10px;
}

.img1{
   max-width: 100%;
   max-height: 100%;
   display: block;
}

/* Main Sections */

.maincontent{
   margin-top: 10px;
   position: relative;
   display: flex;
   flex-flow: column wrap;
   width: 98%;
   height: 90vh;
   overflow: hidden;
   align-items: center;
}


/* Sections */

.section0{
   box-sizing: border-box;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   width: 40%;
   height: 70%;
   position:relative;
   padding-left: 20px;
   overflow: hidden;
}

.section2 {
   box-sizing: border-box;
   position:relative;
   width: 39%;
   height: 30%;
   border: 2px solid rgb(130, 130, 130);
   border-radius: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.section1 {
   box-sizing: border-box;
   position:relative;
   width: 55%;
   justify-content: center;
   height: 100%;
   border: 2px solid rgb(130, 130, 130);
   border-radius: 30px;
}


/* Section 0 */

.intro-div{
   display: block;
   width: 90%;
   height: 90%;
   color: white;
   font-size: 48px;
   align-items: center;
   text-align: center;
}

/* Section 1 *************************************************/

.frontend-skills {
   
   margin-top: 10px;
   text-align: center;
   color: rgb(255, 255, 255);
   font-size: 32px;
}

.skills-icons {
   height: 45%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.icon{
   display: flex;
   width: 25%;
   height: 45%;
}

.html-icon {
   color: rgb(227, 88, 7);
   text-align: center;
   width: 100%;
   height: 100%;
}

.css-icon {
   color: rgb(7, 55, 227);
   text-align: center;
   width: 100%;
   height: 100%;
}

.js-icon{
   color: rgb(249, 230, 25);
   text-align: center;
   width: 100%;
   height: 100%;
}

.figma-icon {
   color: white;
   text-align: center;
   width: 100%;
   height: 100%;
}

.sass-icon{
   color: rgb(243, 77, 221);
   text-align: center;
   width: 100%;
   height: 100%;
}

.git-icon{
   max-width: 100%;
   max-height: 95%;
   align-self: center;
}

.bootstrap-icon{
   max-width: 100%;
   align-self: center;
   justify-content: center;
}

.under-acquisition{
   height: 38%;
   display: flex;
   flex-wrap: wrap;
   gap: 7px;
   justify-content: center;
}

.react-icon {
   color: #61dbfb;
   text-align: center;
   width: 25%;
   height: 50%;
}
.vue-icon {
   color: #41B883;
   text-align: center;
   width: 25%;
   height: 50%;
}
.node-icon {
   color: #68a063;
   text-align: center;
   width: 25%;
   height: 50%;
}

.jquery-img{
   justify-content: center;
   text-align: center;
   width: 20%;
   height: 50%;
   overflow: hidden;
}

.helper{
   height: 100%;
   display: inline-block;
   vertical-align: middle;
}

.jquery-icon{
   height:fit-content;
   max-width: 90%;
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

.jquery-icon1{
   height:fit-content;
   max-width: 90%;
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

/* Section 2 */

.contact1{
   margin-top: 10px;
   width: 100%;
   box-sizing: border-box;
   height: 20%;
   box-sizing: border-box;
}

.contact-title{
   text-justify: auto;
   width: 100%;
   color: rgb(255, 255, 255);
   font-size: 35px;
   height: 100%;
   text-align: center;
   box-sizing: border-box;
}

/* 
.contact-icon{
   width: 50px;
   color: white;

} */

.contact-text{
   height: 30%;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   color: white;
   width: 98%;
   justify-content: center;
   padding-top: 7px;
   padding-bottom: 7px;
}

.ctext{
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: large;
}

.cv{
   display: flex;
   width: 70%;
   height: 20%;
}

.download-btn{
   width: 100%;
   text-decoration: none;
}

.cv-btn{
   display: flex;
   height: 80%;
   width: 100%;
   border-radius: 15px;
   background-color: rgb(255, 187, 0);
   border-style: solid;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.cv-btn:hover{
   cursor: pointer;
   background-color: rgb(255, 200, 48);
}

/* Footer */

.footer{
   margin-top: 15px;
   align-items: center;
   display: flex;
   padding-left: 5%;
   width: 100%;
   height: 20px;
}

.footer-text{
   font-size: small;
   font-style: italic;
   color: white;
}

/* Responsive */

@media(min-width:1000px) {

   .intro-div{
      padding-top: 10%;
   }
}


@media(max-width:980px){
   .ctext{
      width: 100%;
      font-size: 15px;
   }
}

@media(max-width:815px){
   .section0{
      padding: 0;
   }
   .intro-div{
      width: 100%;
   }
}

@media(max-width:700px){
   body{
      width: 100%;
      overflow: scroll;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   
 @keyframes animate{
   0%{
     transform: translateY(300vh) scale(0);
   }
   100%{
     transform: translateY(-10vh) scale(0.2);
   }
 }

   .bubbles span{
      
      animation: animate 30s linear infinite;
      animation-duration: calc(90s / var(--i));
   }

   .header{
      background: rgb(2,0,36);
      background: linear-gradient(180deg, rgb(3, 0, 60) 0%, rgba(24,9,121,1) 53%, rgb(0, 11, 108) 100%);
      display: flex;
      height:60%;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      overflow: hidden;
   }
   .image-div{
      width: 40%;
   }
   .img1{
      margin-bottom: 10px;
   }

   .logo{
      display: block;
      text-align: center;
      margin: 0;
      justify-content: center;
   }
   .undertitle{
      display: flex;
      justify-content: center;
      margin: auto;
      margin-bottom: 10px;
      margin-top: 5px;
   }

   .icons{
      justify-content: center;
      margin-left: 0;
      margin-bottom: 10px;
      width: 100%;
   }
   .image-div{
      padding: 0;
      margin-bottom: 5px;
   }

   .maincontent{
      height: 150vh;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
   }

   .section0{
      height: 13%;
      width: 95%;
      padding: 0;
      justify-content: center;
   }
   .intro-div{
      width: 100%;
      font-size: 30px;
   }

   .section2{
      height: 150px;
      width: 95%;
      height: 20%;
   }
   .contact1{
      margin: 0;
   }
   .contact-title{
      padding: 0;
      margin-top: 10px;
   }
   .contact-text{
      padding: 0;
      width: 90%;
      margin-top: 5px;
   }
   .ctext{
      font-size: 14px;
   }
   .cv{
      width: 65%;
   }

   .section1{

      width: 97%;
      height: 60%;
   }

   .skills-icons{
      height: 40%;
   }


   .under-acquisition{
      height: 40%;
      overflow: hidden;
      gap: 0;
      margin-top: 10px;
   }

   .jquery-img{
      width: 30%;
      height: 50%;
   }

   .jquery-icon1{
      height: 90%;
   }

   .footer{
      margin-top: 15px;
   }
}